<nav id="sidebar">
    <div class="sidebar-header">
        <img src="~/Areas/Admin/Assets/images/icon/logofaha2.png" alt="" width="150px" height="40px">


        <hr>
    </div>
    <ul class="list-unstyled components ">

        <li> <a href="@Url.Action("Index","Home")"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
        <li> <a href="@Url.Action("Category","Home")"><i class="fas fa-layer-group"></i>Danh mục</a> </li>
        <li> <a href="@Url.Action("Product","Home")"><i class="far fa-clipboard"></i>Sản Phẩm</a> </li>
        <li> <a href="@Url.Action("Order","Home")"><i class="fas fa-shopping-cart"></i>Đơn Hàng</a> </li>
        <li> <a href="@Url.Action("Account","Home")"><i class="fas fa-users"></i>Tài Khoản</a> </li>

    </ul>
    <ul class="list-unstyled CTAs " style="position:fixed; bottom:0px;">
        <p>Đăng nhập với admin : <span class="text-info"> <br> V.Nam</span></p>
    </ul>
</nav>
